*
{
margin:0px ;
padding:0px;
}
 
.menu li
{
float:left;
list-style: none;
margin:10px 25px ;
}
.menu
{
	 position: relative;
float:right;
margin-top:25px;
margin-bottom:15px;
}

.blok-menu
{
overflow: hidden;
background: #444;

}

.menu li a
{
 text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  margin: 10px 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.menu li a:hover
{
background: #534d7a;
  box-shadow: 0 15px 20px #a29dc2;
  color: white;
  transform: translateY(-7px);

}
.logo
{
float:left;
margin-top:20px;
margin-left:30px; 
}

.nazv
{
	margin-left:30px;
	margin-top:20px;
	float:left;
}
.nazv li 
{
	
  font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
	 display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  color: #f1ebe5;
 text-shadow: 0px -4px 1px #a29dc2;
  letter-spacing: -4px;
text-transform:uppercase;
list-style: none;
font: 55px Impact, Charcoal, sans-serif;
color:#fff;
letter-spacing:2px;
transition: all 0.5s ease;
}
.nazv li:hover
{
	
  font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
	 display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  color: #f1ebe5;
  text-shadow: 0px 2px 1px #a29dc2;
  letter-spacing: -4px;
text-transform:uppercase;
list-style: none;
font: 55px Impact, Charcoal, sans-serif;
color:#fff;
letter-spacing:2px;
transition: all 0.5s ease;
margin-top:50px;
}
html,
body {
	height: 100%;
}
html,
body.page-2 {
	height: 100%;
}
.wrapper {


}

.content
{

	float:left;
	 min-height: calc(100vh - 20%);
width:55%;
background-color: #534d7a;
padding:30px;

}

.content h2
{
text-transform:uppercase;
font: 60px Impact, Charcoal, sans-serif;
color:#fff;
text-align:center;
letter-spacing:2px;
text-shadow: 0 1px 0 #444,

               0 2px 0 #444,

               0 3px 0 #444,

              0 4px 0 #444,

              0 5px 0 #444,

               0 6px 1px rgba(0,0,0,.1),

               0 0 5px rgba(0,0,0,.1),

               0 1px 3px rgba(0,0,0,.3),

               0 3px 5px rgba(0,0,0,.2),

               0 5px 10px rgba(0,0,0,.25),

               0 10px 10px rgba(0,0,0,.2),

               0 20px 20px rgba(0,0,0,.15);







}



















.content p
{
font: 14px Impact, Charcoal, sans-serif;
color:#444;
text-indent:20px;
}
.content1
{
	
margin:0 auto;
	float:none;
width:60%;
background-color: #fff;
padding:30px;
box-shadow: 0 1px 5px rgba(0, 0, 0, .5), -20px 0 20px -20px rgba(0, 0, 0, .10), 20px 0 20px -20px rgba(0, 0, 0, .10), 0 0 40px rgba(0, 0, 0, .1) inset;
}
.content1 h2
{
	text-shadow:0px -4px 1px #a29dc2;
font: 60px Impact, Charcoal, sans-serif;
color:#444;
text-align:center;
}
.content1 p
{
font: 14px Impact, Charcoal, sans-serif;
color:#444;
text-indent:20px;
}
.footer
{
	
float:left;
box-shadow: 0 0 5px 2px;
background-color: #000000;
width:100%;
height:20%;
text-align:left;
}
.footer p
{

margin-bottom: 10px;
margin-top:30px;
margin-left:50px;
font: 14px Franklin Gothic Medium, Impact;
color:#ffffff;
}
.footer a
 {

font: 14px Franklin Gothic Medium, Impact;;
color:#ffffff;
text-decoration: none;
}
 
.footer a:hover
{
text-decoration: none;
color:#a29dc2;

}
.footerl
{
float:left;
width:50%;
}
.footerr
{
	margin-top:30px;
float:left;

}
.footerr p
{
margin-bottom: 5px;
margin-top:5px;
margin-left:50px;
font: 14px Franklin Gothic Medium, Impact;
color:#ffffff;
}
.footerr a
 {
font: 14px Franklin Gothic Medium, Impact;;
color:#ffffff;
text-decoration: none;
}
 
.footerr a:hover
{
text-decoration: none;
color:#a29dc2;

}
body {
 background: #534d7a;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
body.page-2 {
 background: #534d7a;

 background-size: 100% 100%;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
.blok1
{
	 background-color: #ffffff;
	box-shadow: 0 10px 10px -10px #000000;
}
.blok1:hover {

    box-shadow: 0 35px 35px -35px #000000;
}
.blok1 {
	overflow:hidden;
	text-overflow: ellipsis;
    position: relative;
    -webkit-transition:all 0.35s linear;
    transition:all 0.35s linear;
}






.Grid {
	

	
}

.Grid-row {
	
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

.Card {
	box-shadow:4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	position: relative;
	flex: 0 1 15rem;
	background-color: #fff;
	padding-bottom: 5rem;
	transition: background-color 0.2s cubic-bezier(0.5, 0.3, 0.8, 0.06);
	color: #000;
}

.Card-thumb {
	position: relative;
	
	
	
	z-index: 1;
}

.Card-image,
.Card-shadow {
	position: absolute;
	display: block;
	width: 100%;
	height: 10rem;
	transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.Card-shadow {
	opacity: 0.8;
}

.Card-shadow:nth-child(1) {
	opacity: 0.6;
	background-color: #673ab7;
	transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.07s;
}

.Card-shadow:nth-child(2) {
	opacity: 0.7;
	background-color: #444;
	transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.05s;
}

.Card-shadow:nth-child(3) {
	background-color: #534d7a;
	transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.03s;
}

.Card-image {
	position: relative;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #a29dc2;
}

.Card-image::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #3f51b5;
	content: '';
	opacity: 0;
	transition: opacity 0.1s;
}

.Card-title,
.Card-explore {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;

	height: 5rem;
	text-align: center;
	transition: all 0.2s cubic-bezier(0.5, 0.3, 0.8, 0.06);
}

.Card-title span,
.Card-explore span {
	padding: 0.5rem;
	flex: 1 1 auto;
	text-align: center;
}

.Card-explore {
	opacity: 0;
	transform: translate(0, -1rem);
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #a29dc2;
}

.Card-button {
	position: absolute;
	left: 50%;
	top: 5rem;
	padding: 0.5rem 1rem;
	background-color: #fff;
	border-radius: 2rem;
	border: 2px solid #a29dc2;
	color: #fff;
	font-size: 0.75rem;
	font-weight: 600;
	transform: translate(-50%, 2rem);
	cursor: pointer;
	transition: all 0.2s;
	opacity: 0;
	outline: none;
	z-index: 4;
}

.Card:hover,
.Card--active {
	background-color: #f5f5f5;
	cursor: pointer;
}

.Card:hover .Card-thumb,
.Card--active .Card-thumb {
	z-index: 3;
}

.Card:hover .Card-title,
.Card--active .Card-title {
	opacity: 0;
}

.Card:hover .Card-explore,
.Card--active .Card-explore {
	opacity: 1;
	transform: translate(0, 1rem);
	transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}

.Card:hover .Card-image,
.Card--active .Card-image {
	transform: scale(1.05) translate(0, -1rem) rotateX(25deg);
}

.Card:hover .Card-image::before,
.Card--active .Card-image::before {
	opacity: 0.4;
}

.Card:hover .Card-shadow:nth-child(3),
.Card--active .Card-shadow:nth-child(3) {
	transform: scale(1.02) translate(0, -0.3rem) rotateX(15deg);
}

.Card:hover .Card-shadow:nth-child(2),
.Card--active .Card-shadow:nth-child(2) {
	transform: scale(0.9) translate(0, 1rem) rotateX(15deg);
}

.Card:hover .Card-shadow:nth-child(1),
.Card--active .Card-shadow:nth-child(1) {
	transform: scale(0.82) translate(0, 2.4rem) rotateX(5deg);
}

.Card:hover .Card-button,
.Card--active .Card-button {
	opacity: 1;
	color: #a29dc2;
	transform: translate(-50%, 0);
}

.Card:hover .Card-button:hover,
.Card--active .Card-button:hover {
	color: #fff;
	background-color: #a29dc2;
}

.Card--active,
.Card--active:hover {
	background: none;
}

.Card--active .Card-explore,
.Card--active:hover .Card-explore {
	opacity: 0;
	transform: translate(0, 3rem);
	transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.Card--active .Card-image,
.Card--active:hover .Card-image {
	opacity: 0;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	transform: scale(1.05) translate(0, -2.5rem) rotateX(50deg);
}

.Card--active .Card-image::before,
.Card--active:hover .Card-image::before {
	opacity: 0.4;
}

.Card--active .Card-button,
.Card--active:hover .Card-button {
	opacity: 0;
	transition: all 0.35s cubic-bezier(0.42, 0, 0.58, 1);
	transform: translate(-50%, -2rem) scale(1, 0.4);
}









.nazad {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 10px;
  color: #a29dc2;
  box-shadow: 0 0 0 2px #534d7a;
  padding: 20px 0;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
span {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 5;
}
.nazad:before, 
.nazad:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.nazad:before{
  transform: translateX(-100%);
  background: #444;
  transition: transform .3s cubic-bezier(.55,.055,.675,.19);
}
.nazad:after {
  background: #534d7a;
  transform: translateX(100%);
  transition: transform .3s cubic-bezier(.16,.73,.58,.62) .3s;
}
.nazad:hover:before,
.nazad:hover:after {transform: translateX(0);}






.zag {
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),

             0px 8px 13px rgba(0,0,0,0.1),

             0px 18px 23px rgba(0,0,0,0.1);


	  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 15px;
  margin-bottom: 15px;
  margin-top:15px;
font: 40px sans-serif;
color:#444;
text-align:center;

}



.nov {


padding-left:30px;
padding-right:30px;
margin-bottom:5%;
font:18px "Roboto",sans-serif;
color:#444;
text-indent:20px;
}



.pic {
	background:#444;
	display: flex;
  flex-wrap: wrap;


box-shadow: 0px 35px 35px -35px #000000;
}





.pic img {
	padding:30px;
object-fit: cover;
width:100%;

}


.s1
{
	box-shadow:4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	float:left;
	margin-right:20px;
	margin-bottom:20px;
object-fit: cover;
width:100%;

}

.s2
{
	box-shadow:4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	float:right;
	margin:20px;
object-fit: cover;
width:100%;

}

.s3
{
	box-shadow:4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	margin-right:20px;
	margin-bottom:20px;
	margin-top:20px;
object-fit: cover;
width:100%;

}


.nov img {
object-fit: cover;
width:30%;

}

.novk img {
object-fit: cover;
margin: 0 auto;

}

.novs {
	
	box-shadow:4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	
	margin:20px;
object-fit: cover;
width:100%;

}


.nov a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  font-weight: 300;
  color: #444;
  transition: .3s linear;
}

.nov a:hover {
color:#fff;
}







.atuin-btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
   
    cursor: pointer; 
   
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    color: #FFF;
}
.atuin-btn:after,
.atuin-btn:before {
    position: absolute;
    height: 4px;
    left: 50%;
    background: #fff;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.atuin-btn:before {
    top: -6px;
}
.atuin-btn:hover:after,
.atuin-btn:hover:before,
.atuin-btn:active:after,
.atuin-btn:active:before,
.atuin-btn:focus:after,
.atuin-btn:focus:before {
    width: 100%;
    left: 0;
}






table {
border-collapse: collapse; 
border: 1px solid grey; 
}
th {border: 1px solid grey;}
td {border: 1px solid grey;}
th, td {border: 1px solid grey;}
table {border: 3px solid grey;}

table {width: 100%;}
th, td {padding: 10px 15px;}

caption {
text-align: right;
padding: 10px 0; 
font-size: 14px;
}


.post-wrap2 {
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.post-item2 {
	padding: 10px;	
}
.post-item-wrap2 {
	position: relative;
}
.post-item2 img {
	display: block;
	width: 100%;
}
.post-item2:hover .post-info2 {
	opacity: 1;
}
.post-link2 {
	text-decoration: none;
}
.post-info2 {
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 100%);
	color: white;
	opacity: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: .5s linear;
}





















.post-meta2 {
	text-transform: uppercase;
	line-height: 18px;
	font-weight: 500;
	font-size: 11px;
	padding: 0 0 10px 15px;
	margin-bottom: 15px;
	position: relative;
	display: inline-flex;
	align-items: center;
	border-bottom: 1px solid #ff7760;
}
.post-date2:after {
	content: "\2022";
	margin: 0 6px;
	font-size: 14px;
}
.post-title2 {
	padding: 0 15px;
	font-weight: 600;
	margin-bottom: 15px;
}
@media (min-width: 768px) {
	.post-item2 {
		flex-basis: 50%;
		flex-shrink: 0;				
	}
}
@media (min-width: 960px) {
	.post-item2 {
		flex-basis: 33.333333333%;			
	}
}













.item-content1 h4 {
	font-family:"Roboto",sans-serif;
	float:right;
	text-transform:uppercase;
letter-spacing:2px;
color:#fff;
font-size:15px;
padding-left:15px;
margin-bottom:15px;
border-left:2px solid #a29dc2;
}



.post-wrap1 {
	margin: 0 auto;
	flex-wrap: wrap;
}
.post-wrap1 p {
	margin-bottom:5%;
	font:18px "Roboto",sans-serif;

color:#444;
text-indent:20px;
}


.post-item1 {
	padding: 15px;	
}
.post-item1 * {
	transition: .3s linear;
}
.item-content1 {
	
	background: #444;
    padding: 40px;
}
.post-wrap1 img
{
	float:left;
	box-shadow: 0 10px 10px -10px #000000;

}
.post-item1:hover .item-icon1,
.post-item1:hover .item-body1 h3,
.post-item1:hover .item-body1 p {
	transform: translateY(-8px);
}
.item-body1 {
	float:left;
	padding-top:20px;
	color: #444;
	font-size: 14px;
}
.item-body1 h3 {
	font:25px "Roboto",sans-serif;
	font-weight: 500;
    margin-bottom: 15px;
	transition-delay: .05s;
}
.item-body1 p {
	transition-delay: .1s;
}
.item-footer1 {
	float:left;
	padding-bottom: 25px;
}
.link1 {  
	text-decoration: none;	
    display: inline-block; 
	overflow: hidden;	
	position: relative;
	padding-right: 30px;
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #444;
}
.link1:before {    
    content: "";
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
	bottom: 0;
    height: .125rem;
	margin: auto;
	background: #534d7a;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
	transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.link1 span {
	font:15px "Roboto",sans-serif;
	display: inline-block;
    position: relative;
    transform: translateX(-200%);    
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.post-item1:hover .link1 span {
    transform: translateX(0%);
}
.post-item1:hover .link1:before {
	transform-origin: right center;
}
@media (min-width: 768px) {
	.post-item1 {
		flex-basis: 50%;
		flex-shrink: 0;				
	}
}
@media (min-width: 960px) {
	.post-item1 {
		flex-basis: 33.333333333%;			
	}
}


















.slider {
	overflow:hidden;
	box-shadow:0px 0px 5px;
	float:left;
		width:100%;
      position: relative;
      overflow: hidden;
    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @media (min-width: 980px) {
      .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    .slider__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 150%;
	  font-family:"Roboto",sans-serif;
      font-size: 350%;
	  text-transform:uppercase;
      text-align: center;
	  color:#a29dc2;
    }
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
.widget {
	box-shadow:0px 0px 5px;
	margin-top:10%;
	margin-left:2%;
	float:left;
	width:22%;
  padding: 20px 30px;
  background: white;
  font-family: 'Roboto', sans-serif;
}

.widget h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 16px;
  margin-bottom: 20px;
}

.widget-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 15px;
  border-left: 2px solid #534d7a;
}
.widget-list {
  padding: 0;
  list-style: none;
}
.widget-list a:before {
  content: "\2014";
  margin-right: 14px;
}
.widget-list a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  font-weight: 300;
  color: #444;
  transition: .3s linear;
}
.widget-list a:hover {color: rgb(138,200,255);}









hr,    
hr:before,
hr:after {
    content: "";
    background: #444;
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    animation: anim-hr 6s linear infinite;
    border: 0;
    overflow: visible;
	margin:auto;
}
hr:before {
    left: -32px;
}
hr:after {
    left: 32px;
}
hr {
    position: relative;
}
@keyframes anim-hr {
    0% {
        background: #fff;
    }
    50% {
        background: #534d7a;
    }  
    100% {
        background: #fff;
    }
}








.dropbtn {
    background-color: #444;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #000000;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}








.post-wrap {
	box-shadow:0px 0px 5px;
	float:left;
	width:25%;
	margin-left:2%;
	margin-top:10%;
	justify-content: center;
	flex-wrap: wrap;
}

.post-link {
	text-decoration: none;
	display: block;
}
.post-item-wrap {
	overflow: hidden;
	position: relative;
}
.post-item img {
	display: block;
	width: 100%;
	background: #fff;
}
.text-wrapper {
	position: absolute; 
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    width: 86%;
	padding: 20px;
    background: #fff;    
    transform: translate3d(-100%,0,0);    
    transition: transform .5s cubic-bezier(.33,.02,0,.93);
}
.post-item:hover .text-wrapper {
	transform: translate3d(0,0,0);
	transition: transform .5s cubic-bezier(.33,.02,0,.93) .3s;
}
.overlay {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: #444;    
    transform: translate3d(-100%,0,0);
    transition: transform .4s cubic-bezier(.33,.02,0,.93) .2s;
}
.post-item:hover .overlay {
	transform: translate3d(0,0,0);    
    transition: transform .5s cubic-bezier(.33,.02,0,.93);
}
.post-cat {
	text-transform: uppercase;
	margin-bottom: 5px;
	color: #000200;
	font-weight: 500;
}
.post-title {
	font-size: 15px;
	font-weight: 400;
	color: #4A4A40;
	font-style: italic;
}
@media (min-width: 768px) {
	.post-item {
		flex-basis: 50%;
		flex-shrink: 0;				
	}
}
@media (min-width: 960px) {
	.post-item {
		flex-basis: 33.333333333%;			
	}
}
















.pagination  {
	padding:10px;
	margin-left:11%;
    float: left;
	
}



.pagination a {
	
	

font: 15px Impact, Charcoal, sans-serif;

	
	
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	border-radius:5px;
    transition: background-color .3s;
}


.pagination a.active {
    background-color: #444;
    color: #a29dc2;
	border-radius:5px;
}


.pagination a:hover:not(.active) {background-color: #444;color: #fff;border-radius:5px; }

















.icon-bar {
  position: fixed;
  top: 70%;
  right: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}


.icon-bar a:hover {
  background-color: #534d7a;
}

.vk {
  background: #444;
  color: white;
}

.instagram {
  background: #444;
  color: white;
}


.youtube {

  background: #444;
  color: white;
}

	
@media screen and (max-width: 1000px) {
.icon-bar {
visibility: hidden;
display: none;
}
}
	
	
	
	